<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/TrangChuStyle.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&family=Pacifico&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<style>
    p{
        font-size: 18px;
        margin: 20px;
    }
    h3{
        font-size:22px;
        font-weight: bold;
        color: #de5f94;
        margin: 20px;
    }
    image{
        margin: 30px;
    }
</style>
<body>
    <a href="@Url.Action("Index", "Home")" class="button-custom" style="margin:30px">← Quay lại</a>
    <h2 style="margin:30px">Giới thiệu về Chella</h2>

        <h3>Chella là cửa hàng mỹ phẩm uy tín chuyên cung cấp các sản phẩm chăm sóc da, trang điểm và làm đẹp chính hãng từ những thương hiệu nổi tiếng trong và ngoài nước.</h3>
    <p>Với phương châm “Đẹp từ tâm – Tỏa sáng từ chất lượng”, Chella cam kết mang đến cho khách hàng những trải nghiệm mua sắm an toàn, tiện lợi và hài lòng tuyệt đối.</p>
        <br/>
    <p>Chúng tôi hiểu rằng mỗi làn da đều có câu chuyện riêng, vì vậy Chella không ngừng cập nhật xu hướng làm đẹp mới nhất, tư vấn sản phẩm phù hợp theo từng loại da, từng nhu cầu cá nhân – giúp bạn tự tin tỏa sáng theo cách riêng của mình.</p>
    <div class="image" style="text-align:center">
        <img src="https://file.hstatic.net/1000006063/file/img_3399_f3cce2c05c974d19944adf651269921e_grande.jpg" alt="anh_cua_hang">

    </div>

        <h3>Tại Chella, bạn sẽ tìm thấy:</h3>
        <br />
    <p>☛ Sản phẩm 100% chính hãng: nhập khẩu trực tiếp hoặc phân phối từ nhà cung cấp uy tín.</p>
        <br />
    <p>☛ Danh mục đa dạng: từ sữa rửa mặt, kem dưỡng, serum, đến son môi, phấn nền và dụng cụ trang điểm.</p>
        <br />
    <p>☛ Đội ngũ tư vấn tận tâm, sẵn sàng hỗ trợ bạn mọi lúc.</p>
        <br />
    <p>☛ Giá cả cạnh tranh, ưu đãi thường xuyên và dịch vụ giao hàng nhanh chóng toàn quốc.</p>
        <br />
    <p>☛ Chella không chỉ là nơi bán mỹ phẩm – mà là người bạn đồng hành trong hành trình chăm sóc vẻ đẹp và sự tự tin của bạn.</p>
        <br />
    <div style="text-align: center;">
        <strong style=" font-size: 22px">Chella – Nơi sắc đẹp bắt đầu từ sự thấu hiểu.</strong></p>
    </div>

    <div class="image" style="text-align:center">
        <img src="https://file.hstatic.net/1000006063/file/img_3204_45afa11674934e269d9205e34de691b0_grande.jpg" alt="anh_cua_hang">

    </div>
    <p>
        Chella được biết đến là chuỗi mỹ phẩm tồn tại trên thị trường trong suốt một thập kỷ qua. Với sứ mệnh "Mang đến những sản phẩm tốt nhất cho người Việt Nam”, Thế Giới Skinfood luôn dựa theo kim chỉ nam này để đưa ra nguyên tắc, dẫn dắt các hoạt động kinh doanh đi đúng hướng.

        Chella tự hào khi hội tụ hơn 300 thương hiệu và gần 8000 sản phẩm chính hãng trong hệ thống store trên các tỉnh thành có mặt. Không chỉ đơn thuần là cửa hàng bán mỹ phẩm, Thế Giới Skinfood còn muốn khách hàng đến trải nghiệm như một cuộc dạo chơi,.... với không gian thoải mái, trải nghiệm mua sắm sang trọng, hiện đại và luôn bắt kịp xu hướng.
        <br/>
        Chella khai trương thêm cửa hàng mới tại Gò Vấp. Hãy cùng trải nghiệm không gian mua sắm tại Showroom, nơi bạn có thể khám phá và lựa chọn từ hàng nghìn sản phẩm chăm sóc da và làm đẹp từ hơn 300 thương hiệu uy tín.
    </p>
</body>