* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 15px;
    background-image: url('/lib/image/banner2.png');
    background-position: center;
}

.wrapper {
    max-width: 650px;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.1);
}

    .wrapper .title {
        height: 120px;
        background: #de5f94;
        border-radius: 5px 5px 0 0;
        color: #fff;
        font-size: 30px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Pacifico", cursive;
    }

form {
    padding: 25px 35px;
}

.input-icon-left {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #de5f94;
    color: #fff;
    border: 1px solid #de5f94;
    border-radius: 5px 0 0 5px;
}

.input-icon-eye {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: gray;
}

    .input-icon-eye:hover {
        color: #de5f94;
    }

input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    border-radius: 5px;
    border: 1px solid lightgrey;
    padding-left: 55px;
    padding-right: 40px;
    font-size: 16px;
}

input[type="submit"] {
    background: #de5f94;
    border: 1px solid #de5f94;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    height: 60px;
    border-radius: 50px;
    cursor: pointer;
}

    input[type="submit"]:hover {
        background: #b33e6f;
    }

.text-danger {
    color: red !important;
}

.signup-link {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}

    .signup-link a {
        color: #de5f94;
        text-decoration: none;
    }

        .signup-link a:hover {
            text-decoration: underline;
        }
