body {
    font-size: 20px;
    font-family: "Quicksand", sans-serif;
    background-image: url('/lib/image/banner2.png');
    background-position: center;
    display: flex;
    background-repeat: no-repeat;
    color: black;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    height: 100vh;
}

input {
    height: 50px;
    border: 2px solid #de5f94;
    border-radius: 25px;
    padding: 10px 15px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}
.field-validation-error {
    color: red;
}

h1 {
    font-family: Oooh Baby;
    font-size: 70px;
    color: white;
}
h2 {
    margin: 20px 0 20px 0;
    font-size: 70px;
    font-weight: normal;
    font-family: "Pacifico", cursive;
    color: #de5f94;
    text-align: center;
}
label {
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
    text-align: left;
    color: black;
    margin: 5px 0 5px 0;
}

input[type="text"], input[type="password"] {
    margin-left: 15px;
    height: 50px;
    border-color: #de5f94;
    border-radius: 30px;
    border-width: 2px;
    width: 65%;
    padding-left: 15px;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
}

.box-login {
    background-color: white;
    border-radius: 30px;
    padding: 30px;
    padding-top: 15px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: 50%;
    max-width: 750px;
}

a {
    color: #de5f94;
    margin: 30px 0 30px;
    font-weight: bold;
    text-decoration: none;
}

    a:hover {
        color: #b33e6f;
    }

.container {
    display: flex;
}

.column {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
}

.button-custom {
    background-color: #de5f94;
    color: #fff;
    padding: 10px 24px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
    border: none;
    display: inline-block;
    transition: all 0.3s ease;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

    .button-custom:hover {
        background-color: #b33e6f;
        transform: scale(1.05);
    }